<div class="project-container">
  <div class="content-wrapper">
    <button class="back-button" (click)="goBack()">
      <span class="material-symbols-outlined">arrow_back</span>
    </button>

    <div class="card">
      <h1 class="title">{{ project.title }}</h1>

      <div class="author-date">
        <div class="author-icon">
          <button class="icon-button circle">
            <span class="material-symbols-outlined">person</span>
          </button>
          <span class="author">{{ project.author }}</span>
        </div>
        <span class="date">{{ project.date }}</span>
      </div>

      <div class="image-wrapper">
        <img [src]="project.imageSrc" alt="Project image" />
      </div>

      <p class="description">{{ project.description }}</p>

      <button class="apply-button" (click)="apply()">Postularse</button>
    </div>
  </div>
</div>
