<div class="home-title">
  <div class="home-content">
    <!--Aqui se cambiaria segun el rol: Ilustrador verá Proyectos:Libros:Perfiles de Escritor/ Escritor verá Ilustraciones:Portafolios:Perfiles de Ilustrador-->
    <!--Haré el ejemplo con vista de Ilustrador, es decir verá Escritores-->
    <h1>Hola <span class="cyan">{{ user.name }}</span>! Dale un vistazo a los <span class="cyan">proyectos más recientes... </span> </h1>
    <hr>
    <div class="cards-container">
      <app-project-card
        *ngFor="let project of projects"
        [id]="project.id"
        [imageSrc]="project.imageSrc"
        [author]="project.author"
        [title]="project.title"
      ></app-project-card>
      <!-- Esto es lo que verá el escritor, verá portafolios
      <app-portfolio-card
        *ngFor="let project of projects"
        [id]="project.id"
        [imageSrc]="project.imageSrc"
        [author]="project.author"
        [title]="project.title"
      ></app-portfolio-card>
      -->
    </div>
    <div class="view-more-container">
      <button class="view-more-btn" (click)="goToAllProjects()">Ver más</button>
    </div>

    <!--Esto sería variable también-->
    <h1>Conoce a los escritores <span class="cyan">más famosos</span> de la plataforma</h1>
    <hr>
    <div class="famous-container">
      <app-writer-card
        *ngFor="let writer of writers"
        [id]="writer.id"
        [author]="writer.author"
        [photo]="writer.photo"
        [suscription]="writer.suscription"
      ></app-writer-card>
    </div>
    <div class="view-more-container">
      <button class="view-more-btn" (click)="goToAllWriters()">Ver más</button>
    </div>

    <!--Esto sería variable también-->
    <h1>Echa un vistazo a sus obras <span class="cyan">más destacadas</span></h1>
    <hr>
    <div class="important-container">
      <app-book-card
        *ngFor="let book of books"
        [id]="book.id"
        [title]="book.title"
        [author]="book.author"
        [image]="book.image"
      ></app-book-card>
    </div>
    <div class="view-more-container">
      <button class="view-more-btn" (click)="goToAllBooks()">Ver más</button>
    </div>
  </div>
</div>
