<header class="toolbar">
  <div class="toolbar-content">
    <div class="logo">
      <a [routerLink]="['/home']" (click)="closeMenu(); scrollToTop()">
        <img src="https://raw.githubusercontent.com/diegooo01/HidraNet/refs/heads/main/public/brand-logo/art-collab-logo.png" alt="ArtCollab Logo" width="170" height="60" />
      </a>
    </div>


    <nav class="nav-links" >
      <a [routerLink]="['/home']" (click)="closeMenu(); scrollToTop()">Inicio</a>
      <a [routerLink]="['/applications']" (click)="closeMenu(); scrollToTop()">Postulaciones</a>
      <a [routerLink]="['/projects']" (click)="closeMenu(); scrollToTop()">Proyectos</a>
      <a [routerLink]="['/portfolios']" (click)="closeMenu(); scrollToTop()">Portafolios</a>
    </nav>

    <div class="icons">
      <button class="icon-button square" [routerLink]="['/messages']" (click)="scrollToTop()">
        <span class="material-symbols-outlined">chat_bubble</span>
      </button>
      <button class="icon-button circle" [routerLink]="['/profile']" (click)="closeMenu(); scrollToTop()">
        <span class="material-symbols-outlined">person</span>
      </button>
    </div>

    <button class="burger square" (click)="toggleMenu()">
      <span class="material-symbols-outlined">
        {{ menuOpen ? 'close' : 'menu' }}
      </span>
    </button>
  </div>

  <div class="burger-menu" *ngIf="menuOpen">
    <div class="icon-row">
      <a class="burger-icon circle" [routerLink]="['/profile']" (click)="closeMenu(); scrollToTop()">
        <span class="material-symbols-outlined">person</span>
      </a>
    </div>
    <a [routerLink]="['/home']" (click)="closeMenu(); scrollToTop()">Inicio</a>
    <a [routerLink]="['/applications']" (click)="closeMenu(); scrollToTop()">Postulaciones</a>
    <a [routerLink]="['/projects']" (click)="closeMenu(); scrollToTop()">Proyectos</a>
    <a [routerLink]="['/portfolios']" (click)="closeMenu(); scrollToTop()">Portafolios</a>
    <a [routerLink]="['/messages']" (click)="closeMenu(); scrollToTop()">Mensajes</a>
  </div>

</header>
