.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #429f95;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .toolbar-content {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .logo img {
    height: 60px;
    width: 170px;
    object-fit: contain;
  }

  .nav-links {
    display: flex;
    gap: 1.5rem;

    a {
      color: white;
      text-decoration: none;
      font-weight: bold;
      font-size: 1rem;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .icons {
    display: flex;
    gap: 0.8rem;

    .circle{
      border-radius: 50%;
    }

    .square{
      border-radius: 10px;
    }

    .icon-button {
      background: white;
      border: none;
      width: 45px;
      height: 45px;

      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);



      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }

      .material-symbols-outlined {
        color: #429f95;
        font-size: 25px;
      }
    }
  }

  .burger {
    background-color: white;
    border: none;
    width: 48px;
    border-radius: 10px;
    height: 48px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    .material-symbols-outlined {
      color: #429F95;
      font-size: 24px;
    }
  }

  .burger-menu {
    position: absolute;
    top: 90px;
    right: 1rem;
    background-color: #429f95;
    padding: 1.3rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    z-index: 1001;

    a {
      color: white;
      text-decoration: none;
      font-weight: bold;
      font-size: 1rem;
      text-align: left;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }
    .icon-row {
      display: flex;
      justify-content: center;
      width: 100%;
    }
    .circle{
      border-radius: 50%;
    }
    .burger-icon {
      background-color: white;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }

      .material-symbols-outlined {
        color: #429f95;
        font-size: 28px;
      }
    }
  }


  @media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    width: 100%;
    display: none;

    &.open {
      display: flex;
      margin-top: 1rem;
    }
  }

  .burger {
    display: block;
  }

  .icons {
    display: none;
  }
}
}
