<div class="card">
  <div class="image-wrapper">
    <img [src]="imageSrc" alt="Project image" />
  </div>
  <div class="info">
    <div class="author-date">
      <div class="author-icon">
        <button class="icon-button circle">
          <span class="material-symbols-outlined">person</span>
        </button>
        <span class="author">{{ author }}</span>
      </div>
      <span class="date">{{ date }}</span>
    </div>
    <h2 class="title">{{ title }}</h2>
    <div class="spacer"></div>
    <button class="view-more" (click)="viewMore()">Ver más</button>
  </div>
</div>
